DJANGO_KEY=Ваш пароль

USER=
PASSWORD=
HOST=
PORT=

DEBUG=

USER_EMAIL=email для суперпользователя
USER_PASS=пароль для суперпользователя

PASS_MAILING=ваш пароль для почты рассылок
LOGIN_MAILING=ваша почта рассылок